* {
  margin: 0;
  box-sizing: border-box;
}

.title{
  text-align: center;
}

.app-carousel-container{
  display: flex;
  justify-content: center;
}
.center{
  display: flex;
  justify-content: center;
}